* {
	padding: 0;
	box-sizing: border-box;
} 


 h2 {color: rgb(155,176,134);} h3 {color: rgb(115,153,185);} #checkmate {color: rgb(254, 76, 121)} strong {color :rgb(143, 192, 243)} #inshort {color:   rgb(255, 102, 153)} #spoiler {color:   rgb(255, 102, 102)}
     p {text-indent: 15Px;text-align: justify; font-size:15px;}
     img {max-width: 300px}
    a:link{color: black;}
    a:visited{color: black;}
    a:hover{color: black}
    a:active{color: red}

a {
	text-align: center;
	text-decoration: none;
}
.Menu {
		position: relative;
	background-color: #ffffff;
		text-align: center;
		padding: 10px;
		float: left;
		width: 33%;
		border: 1px solid #dddddd;
		border-top-width:5px;
		margin-right: 2px;
}
.info {
	border-color: #76a7fa;
}
.list {
	border-color: #f9b256;
	    height: 261px;
}
.genre {
	border-color: #4dbfd9;
	    height: 261px;
}
.all {
	position: relative;
	max-width: 1300px;
	margin: auto;
}
.more {max-width:1000px;
	margin:auto;

}
.mainmenu{
    position: relative;
    background-color: #ffffff;
    clear: both;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #dddddd;

 }
.mainmenu a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;

}
#all {
	background-color: #e7e7e7;
}
.home {background-color: #4CAF50;} /* Green */
.home:hover {background-color: #46a049;}

.Gallery {background-color: #2196F3;} /* Blue */
.Gallery:hover {background: #0b7dda;}

.Genre {background-color: #ff9800;} /* Orange */
.Genre:hover {background: #e68a00;}

.hmm {background-color: #f44336;} /* Red */ 
.hmm:hover {background: #da190b;}
    .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
@keyframes mymove {

	0% {opacity: 0;
	transition: opacity 1s linear;}
	20% {opacity: 1}
	80% {opacity: 1}
	100% {opacity: 0;
	transition: opacity 1s linear;}
    from {right: 0px;}
    to {right: 200px;}
}

h4 {color: rgb(128,128,128);
	opacity: 1;
	position: relative;
	animation: mymove 5s cubic-bezier(0.4, 0, 1, 1) infinite;
}
.menu > ul {
    list-style-type: none;
    display: none;
}
.menu:hover ul {
    display: block;
}