* {
	padding: 0;
	box-sizing: border-box;
} 


 h2 {color: rgb(155,176,134);} h3 {color: rgb(115,153,185);} #checkmate {color: rgb(254, 76, 121)} strong {color :rgb(143, 192, 243)} #inshort {color:   rgb(255, 102, 153)} #spoiler {color:   rgb(255, 102, 102)}
     p {text-indent: 15Px;text-align: justify; font-size:15px;}
     img {max-width: 300px}
    a:link{color: blue;}
    a:visited{color: blue;}
    a:hover{color: blue}
    a:active{color: red}

a {
	display: block;
	text-align: center;
}
.Menu {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 5px;
		float: left;
		width: 32.5%;
		border: 2px solid #dddddd;
		border-top-width:5px;

}
.info {
	border-color: #76a7fa;
}
.list {
	border-color: #f9b256;
	    height: 243px;
}
.genre {
	border-color: #4dbfd9;
	    height: 243px;
}
.all {
	max-width: 1300px;
	margin: auto;
}
.More {max-width:1000px;
	margin:auto;}