
.all {
	max-width: 1300px;
	margin: auto;
}
.imgNGNL {
	max-width: 1250px;
	margin: auto;
} 
.lovelive {
	max-width: 1250px;
	margin: auto;
}
img {
	margin-right: 10px;]
	margin-top: 20px;
	padding: auto;
	width: 100%
}
.a {float:left;
	width: 33%;
	padding: 10px;
}

.b {
	float:left;
	width: 33%;
	padding: 10px;
	clear: both;
}